*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

.display {
  display: block;
}

.hide {
  display: none;
}

/* Main Styling */

@font-face {
  font-family: "GT America Standard";
  src: url("./gt-america/GT-America-Standard-Regular-Trial.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-accent: #4c5fd5;
  --color-primary: #dadbf1;
  --color-foreground: #000000;
  --color-white: #fff;
  --color-white-a-6: rgba(255, 255, 255, 0.7);
}

body {
  font-family: "GT America Standard", sans-serif;
}

header {
  background-color: black;
  height: 60px;
}

.hero {
  font-size: 3rem;
  text-align: center;
  display: grid;
  place-items: center;
  background-color: var(--color-primary);
  padding: 6rem 1rem;
}

.hero-title {
  font-weight: 500;
}

.search-input {
  /* width: 700px; */
  width: min(100%, 700px);
  position: relative;
  margin-top: 1rem;
}

.search-input > input {
  width: 100%;
  display: block;
  border: none;
  outline: 1px solid var(--color-accent);
  border-radius: 0.25rem;
  font-size: 1.25rem;
  height: 100%;
  padding: 1.2rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.search-icon-right {
  position: absolute;
  top: 12px;
  right: 5px;
  font-size: 2.4rem;
}

/* Utils */
.grid {
  display: grid;
}

.flex-container {
  display: flex;
  gap: 1.5rem;
}

/* Section of search items */
.help-categories {
  gap: 1rem;
  row-gap: 5rem;
  padding: 10rem;
  grid-template-columns: repeat(2, 1fr);
}

.help-category > picture {
  max-width: 90px;
  position: relative;
  top: 0.875rem;
}

.category-desc {
  padding: 1rem;
}

.category-desc__title {
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

.category-desc__desc {
  margin-top: 0.75rem;
  font-size: 1.5rem;
}

.category-desc__link {
  margin-top: 1rem;
  display: block;
  font-size: 1.25rem;
  text-decoration: none;
  color: var(--color-accent);
}

.category-desc__link:hover {
  text-decoration: underline;
}

/* Footer */
footer {
  background-color: var(--color-foreground);
  color: var(--color-white);
  padding: 3rem 5rem;
}

footer > .grid {
  grid-template-columns: repeat(5, 1fr);
  height: 20rem;
}

.footer__link-items {
  margin-top: 0.8rem;
}

.footer__category-contact {
  margin-top: 1.5rem;
}

.footer__logo {
  max-width: 150px;
  margin-bottom: 1rem;
}

.footer__company-rights {
  font-size: 1.2rem;
  margin-top: auto;
}

.widget-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
  padding: 0.5em 1.3em;
  border-radius: 9999px;
  font-size: 1.07rem;
  display: flex;
  gap: 0.3rem;
  align-items: flex-end;
  justify-content: center;
  background-color: var(--color-accent);
  color: var(--color-white);
  cursor: pointer;
}

.widget-btn__icon {
  max-width: 28px;
}

header {
  padding: 2.7rem 6.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header__logo-page-name {
  display: flex;
  align-items: center;
}

.header__logo {
  width: 140px;
  padding-inline-end: 1rem;
}

.header__page-name {
  position: relative;
  top: 3px;
  vertical-align: middle;
  color: var(--color-white);
  font-size: 1.4rem;
  padding-inline: 1rem;
  border-left: 2px solid var(--color-white);
  line-height: 30px;
}

.submit-req-btn,
.sign-in-btn {
  padding: 0.25em 1.5em 0.1em;
  font-size: 1.5rem;
  margin-left: 0.5rem;
  border-radius: 0.5rem;
}
.submit-req-btn {
  border: 1px solid var(--color-white);
  background-color: var(--color-foreground);
  color: var(--color-white);
}

.sign-in-btn {
  border: none;
  background-color: var(--color-accent);
  color: var(--color-white);
}

.hamburger {
  width: 25px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 5px;
  display: none;
}

.header__search-icon {
  display: none;
}

.hamburger > .bar {
  height: 3px;
  background-color: white;
  transition: 0.5s;
}

.hamburger.active > .bar:nth-child(1) {
  transform-origin: top left;
  transform: rotate(45deg) translate(3px, -3px);
  transition: 0.5s;
}
.hamburger.active > .bar:nth-child(2) {
  background-color: transparent;
  transition: 0.5s;
}
.hamburger.active > .bar:nth-child(3) {
  transform-origin: bottom left;
  transform: rotate(-45deg) translate(3px, 3px);
  transition: 0.5s;
}

.header__dropdown {
  /* display: none; */
  position: absolute;
  background-color: inherit;
  top: 100%;
  left: 0%;
  width: 100%;
  padding: 2.75rem 0;
  text-align: center;
  color: var(--color-white);
  border-top: 1px solid gray;
}
.header__dropdown a {
  color: inherit;
  display: block;
  width: 50%;
  margin-inline: auto;
  padding-block: 0.75rem;
  font-size: 1.5rem;
}
.header__dropdown a:hover {
  color: var(--color-white-a-6);
  transition: 0.2s;
}
.header__dropdown a:first-child {
  border-bottom: 1px solid gray;
}

@media screen and (min-width: 1201px) {
  .header__dropdown {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .submit-req-btn,
  .sign-in-btn {
    display: none;
  }

  .header__ctas {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }

  .hamburger {
    display: grid;
    height: fit-content;
    cursor: pointer;
  }

  .header__search-icon {
    display: block;
    width: 25px;
  }

  .header__search-icon > img:hover {
    transform: scale(1.3);
    transition: 0.1s ease-in-out;
    cursor: pointer;
  }
}

@media screen and (max-width: 680px) {
  header {
    padding-inline: 1.5rem;
  }
}

@media screen and (max-width: 800px) {
  .help-categories {
    grid-template-columns: 1fr;
    padding: 5rem 3rem;
  }
}

@media screen and (max-width: 475px) {
  footer {
    padding: 2rem 2rem;
  }

  footer > .grid {
    grid-template-columns: repeat(2, 1fr);
    height: auto;
    column-gap: 0.5rem;
    row-gap: 2rem;
  }
}

@media screen and (min-width: 476px) and (max-width: 660px) {
  footer {
    padding: 2rem 1.5rem;
  }

  footer > .grid {
    grid-template-columns: repeat(3, 1fr);
    height: auto;
    column-gap: 0.5rem;
  }

  .footer__company-rights {
    grid-column-start: 2;
    grid-column-end: 4;
  }
}

@media screen and (min-width: 661px) and (max-width: 960px) {
  footer > .grid {
    grid-template-columns: repeat(3, 1fr);
    height: auto;
  }
}
